p {
  border: #eee solid 1px;
  text-align: center;
  margin: auto;
  font-size: 20px;
  line-height: 3.5;
  font-weight: bold;
  color: blueviolet;
  background-color: #ccffcc;
  border-radius: 5px;
  display: none;
  padding: 20px;
}

div {
  font-size: 30px;
  text-align: center;
  margin: auto;
}

div:hover ~ p {
  display: block;
}