div {
  margin: 5px;
  width: 300px;
  height: 200px;
  border: 1px solid #eee;
  border-radius: 5px;
  display: inline-block;
  vertical-align: middle;
}

/* 从上到下 */
#linear1 {
  background-image: linear-gradient(red, yellow, pink);
}

/* 从左向右 */
#linear2 {
  background-image: linear-gradient(to right, red, yellow, pink);
}

/* 左上到右下 */
#linear3 {
  background-image: linear-gradient(to bottom right, red, yellow, pink);
}

/* 角度 0 向上 90 向右 180 向下 270 向左 */
#linear4 {
  background-image: linear-gradient(270deg, red, yellow, pink);
}

/* 透明度 rgba 0 透明 1 无透明*/
#linear5 {
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
}

/* 重复线性渐变 */
#linear6 {
  background-image: repeating-linear-gradient(red, yellow 10%, purple 20%)
}

/* 默认地，shape 为椭圆形，size 为最远角，position 为中心。 */
#l1 {
  background-image: radial-gradient(red, yellow, green);
}

#l2 {
  background-image: radial-gradient(red 5%, yellow 15%, green 60%);
}

#l3 {
  background-image: radial-gradient(circle, red, yellow, green, purple);
}

#l4 {
  background-color: red; /* 针对不支持渐变的浏览器 */
  background-image: radial-gradient(closest-side at 60% 55%, red, yellow, black);
}

#l5 {
  background-color: red; /* 针对不支持渐变的浏览器 */
  background-image: radial-gradient(farthest-side at 60% 55%, red, yellow, black);
}

#l6 {
  background-color: red; /* 针对不支持渐变的浏览器 */
  background-image: radial-gradient(closest-corner at 60% 55%, red, yellow, black);
}

#l7 {
  background-color: red; /* 针对不支持渐变的浏览器 */
  background-image: radial-gradient(farthest-corner at 60% 55%, red, yellow, black);
}

#l8 {
  background-image: repeating-radial-gradient(red, yellow 10%, green 15%);
}

#l9 {
  background-image: repeating-radial-gradient(circle, red, yellow 10%, green 15%);
}