div {
  height: 50px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  opacity: 0.99;
}

h1 {
  border: mediumspringgreen solid 1px;
}

h2 {
  border: 1px solid #eee;
  color: bisque;
}

.rgb {
  background-color: tomato;
}

.hex {
  background-color: orange;
}

.hsl {
  background-color: dodgerblue;
}

.rgba {
  background-color: mediumaquamarine;
}

.hsla {
  background-color: violet;
}
